<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusFileRename\Source"/>
    <add key="ExtRenameFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusFileRename\Destination"/>
    <add key="StatusFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusFileRename\Destination"/>
    <add key="OthersFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusFileRename\Destination"/>
    <add key="DeleteStatusFiles" value="false"/>
  </appSettings>
</configuration>